 <div class="container-fluid">
    <div class="row mainBodyDiv" >
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <img src="../../assets/blood donation.jpg" class="img-fluid headerImg">
        </div>
     
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="mainContent">
                <p class="mainHeading"><span style="color: red; font-weight: 900;">COVID-19 Emergency !</span> Fully recovered COVID-19 patients needed to help those currently sick.  </p>
                <p class="mainSubHeading">The need for blood and platelets is very important.</p>
            </div>
          
            <div class="row bloodModuleBtn" >
                <!-- <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div> -->
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <div class="Blooddonate">
                        <p>Donate Blood</p>
                    </div>
                   
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <div class="receiveBlood">
                        <p>Search Donar</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-0 col-xs-0"></div>
            </div>
        </div>
    </div>
 </div>

<!-- View Needs -->

 <!-- <div class="container-fluid viewNeed">
     <h2 style="text-align: center;">Recent Needs</h2>
     <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-0 col-xs-0">
                <ul class="list-group">
                    <li class="list-group-item active">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                  </ul>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 ">
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item">First item</li>
                    <li class="list-group-item">Second item</li>
                    <li class="list-group-item">Third item</li>
                    <li class="list-group-item">Fourth item</li>
                  </ul>
            </div>
         </div>
     </div>
    
 </div> -->

 <!-- CORONAVIRUS SYMPTOMS -->

<div class="container symptomsDiv" >
    <div class="symptomsHeadDiv">
        <h2 class="symptopmsHead">SYMPTOMS OF CORONAVIRUS</h2>
    </div>
    <div class="row symptomsBodyDiv">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          
            <div class="card symptomsCard">
                <img class="symImg" src="../../assets/fever.png" alt="Card image cap">
                <div class="card-body symBody">
                  <h5 class="card-title symHead">Fever</h5>
                  <p class="card-text symText">Fever is a key symptom, experts say. Don't fixate on a number, but know it's really not a fever until temperature reaches at least 100 degrees</p>
                </div>
              </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card symptomsCard" >
                <img class="symImg" src="../../assets/cough.png" alt="Card image cap">
                <div class="card-body symBody">
                  <h5 class="card-title symHead">Cough</h5>
                  <p class="card-text symText">Coughing is another key symptom, but it's not just any cough, said Schaffner. It should be a dry cough that you feel in your chest.</p>
                  
                </div>
              </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card symptomsCard" >
                <img class="symImg" src="../../assets/breathing.png" alt="Card image cap">
                <div class="card-body symBody">
                  <h5 class="card-title symHead">Difficulty Breathing</h5>
                  <p class="card-text symText">Shortness of breath can be a third -- and very serious -- manifestation of Covid-19, and it can occur on its own, without a cough</p>
                   
                </div>
              </div>
        </div>
    </div>
    
</div>

<!-- Donate Blood Save Lifes -->

<div class="container">
    <div class="row donateBloodDiv">
        <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
            <img src="../../assets/1.png" class="img-fluid donateBloodImg" alt="">
        </div>
        <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
            <div class="donateBloodContentDiv">
                <div class="donateBloodHead">
                    <h2>DONATE BLOOD AND SAVE LIVES</h2>
                    <p>Many people are seeking for Plasma Donation to save their lives, so who are recovered from COVID-19 can donate their blood and help people</p>
                </div>
                <div class="bloodContentDiv">
                    <ul class="list-group bloodCntentList">
                        <li class="list-group-item"> <i class="fa fa-check-square" aria-hidden="true"></i> You can donate blood for corona patients, if you have recovered from covid-19 and completed the 14 days quarantine and tested corona negative.</li>
                        <li class="list-group-item"><i class="fa fa-check-square" aria-hidden="true"></i> You must seek doctor advice about your blood group and your eligibility to donate blood.</li>
                        <li class="list-group-item"><i class="fa fa-check-square" aria-hidden="true"></i> You must have  at least 18 years old  a weight of 50 kgs to donate your blood. </li>
                        <li class="list-group-item"><i class="fa fa-check-square" aria-hidden="true"></i> You cannot donate blood if you are suffering with any other blood related health issues. </li>
                        <li class="list-group-item"><i class="fa fa-check-square" aria-hidden="true"></i> Donating blood also improves your cardiovascular health and reduces obesity.</li>
                        <li class="list-group-item"><i class="fa fa-check-square" aria-hidden="true"></i> Here in this website you can only find blood donars and blood receivers, before you Donate / Receive blood follow regulations given by docor.</li>
                      </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Prevention of CORONAVIRUS -->

<div class="container-fluid preventionDiv bg-light">
    <div class="container">
        <div class="preventionHeadDiv">
            <h2 class="preventionHead">PREVENTION OF CORONAVIRUS</h2>
        </div>
        <div class="row preventionDiv">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="card preDiv" >
                    <img class="card-img-top preImg" src="../../assets/wash-hand.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title preTitle">Wash Your Hands</h5>
                      <p class="card-text preConetnt">Wash your hands often with soap and water for at least 20 seconds.</p>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="card preDiv" >
                    <img class="card-img-top preImg" src="../../assets/face.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title preTitle">Avoid touching</h5>
                      <p class="card-text preConetnt">Avoid touching your eyes, nose or mouth,especially with unwashed hands</p>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="card preDiv" >
                    <img class="card-img-top preImg" src="../../assets/avoid.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title preTitle">Avoid close</h5>
                      <p class="card-text preConetnt">Avoid close contact with people who are sick.</p>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="card preDiv" >
                    <img class="card-img-top preImg" src="../../assets/cough.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title preTitle">Cover your mouth</h5>
                      <p class="card-text preConetnt">Cover your mouth and nose with your arm or tissues to reduce the spread of germs.</p>
                    </div>
                  </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="card preDiv" >
                    <img class="card-img-top preImg" src="../../assets/soap.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title preTitle">Clean and disinfect</h5>
                      <p class="card-text preConetnt">Clean and disinfect frequently touched objects and surfaces.</p>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="card preDiv" >
                    <img class="card-img-top preImg" src="../../assets/home2.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title preTitle">Stay home</h5>
                      <p class="card-text preConetnt">Stay home if you are sick to avoid spreading illness to others.</p>
                    </div>
                  </div>
            </div>
          
        </div>
    </div>
</div>
