 
<div class="container-fluid footerDiv">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <div class="footerHeadDiv">
                    <h2>Plasma Donation</h2>
                    <p>Donate Blood who are in need, This website is developed for just a social cause (Non-Profitable). Before Donating / Receiving blood take the guidelines from doctor.  </p>
                </div>
               
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="footerLinkDiv">
                    <h4 class="footerHead">Important Links</h4>
                    <div class="row importantLinks" >
                       
                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                            <ul class="linkList">
                                <li><a href="https://donateplasma.scsc.in/" target="_blank">Donate Plasma (Government)</a></li>
                                <li><a href="https://www.friends2support.org/index.aspx" target="_blank">Friend 2 Support</a></li>
                                <li><a href="http://www.hyderabadblooddonors.org/hyderabadblooddonors/home.aspx" target="_blank">Hyderabad Blood Doonar</a></li>
                            </ul>    
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                            <ul class="linkList">
                                <li><a href="https://hyderabad.telangana.gov.in/click-here-to-download-covid-19-iec-material/" target="_blank">COVID-19 Emergency</a></li>
                                <li><a href="https://www.mygov.in/aarogya-setu-app/" target="_blank">COVID-19 Updates</a></li>
                                <li><a href="https://covid19.telangana.gov.in/control-rooms/" target="_blank">Emergency Control rooms</a></li>
                            </ul>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 